/* グラフを全画面に表示 */
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#graph {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* Collapse トグルボタンのアイコンを回転させる */
button[data-bs-toggle="collapse"] i {
	transition: transform 0.2s ease-in-out;
}
button[data-bs-toggle="collapse"].collapsed i {
	transform: rotate(-90deg);
}
