@import url("./themes.css");
@import url("./code.css");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");
@import url("@fontsource/noto-color-emoji");
@import url("@fontsource-variable/noto-sans");
@import url("@fontsource-variable/noto-sans-jp");
@import url("@fontsource-variable/noto-sans-kr");
@import url("@fontsource-variable/noto-sans-sc");
@import url("@fontsource-variable/noto-sans-tc");
@import url("@fontsource-variable/noto-sans-mono");

:root {
	--bs-font-monospace: "Noto Sans Mono Variable", /* Japanese */
		"Noto Sans JP Variable", /* Korean */ "Noto Sans KR Variable", /* Traditional Chinese (繁体字) */
		"Noto Sans TC Variable", /* Simplified Chinese (簡体字) */
		"Noto Sans SC Variable", /* fallback */ monospace, /* Emoji */
		"Noto Color Emoji";
	--bs-font-sans-serif: "Noto Sans Variable", /* Japanese */
		"Noto Sans JP Variable", /* Korean */ "Noto Sans KR Variable", /* Traditional Chinese (繁体字) */
		"Noto Sans TC Variable", /* Simplified Chinese (簡体字) */
		"Noto Sans SC Variable", /* fallback */ sans-serif, /* Emoji */
		"Noto Color Emoji";
	--h-scale-ratio: 1.08;
	--h-base-size: 1rem;
}

h1 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 5));
}
h2 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 4));
}
h3 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 3));
}
h4 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 2));
}
h5 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 1));
}
h6 {
	font-size: calc(var(--h-base-size) * pow(var(--h-scale-ratio), 0));
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#graph {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.offcanvas.offcanvas-end.responsive-wide {
	width: 90vw; /* xs: スマホ（〜575px） */
}

/* sm: タブレット縦（576px〜767px） */
@media (min-width: 576px) {
	.offcanvas.offcanvas-end.responsive-wide {
		width: 85vw;
	}
}

/* md: タブレット横・小型ラップトップ（768px〜991px） */
@media (min-width: 768px) {
	.offcanvas.offcanvas-end.responsive-wide {
		width: 70vw;
	}
}

/* lg: ノートPC（992px〜1199px） */
@media (min-width: 992px) {
	.offcanvas.offcanvas-end.responsive-wide {
		width: 60vw;
	}
}

/* xl: デスクトップ以上（1200px〜） */
@media (min-width: 1200px) {
	.offcanvas.offcanvas-end.responsive-wide {
		width: 50vw;
		max-width: 800px;
	}
}
